### Test updated order pool

In [1]:
from wagonworksui.order_pool import order_pool_ui
import pandas as pd

In [2]:
csv = '../raw_data/day_data_sample_1.csv'

In [7]:
# same_day_df = pd.read_csv('../raw_data/day_data_sample_1.csv')

In [8]:
# same_day_df[same_day_df['Same_Day_Flag'] == 'X']

In [3]:
order_pool_ui(csv, same_day=True)

[          Del_Number           SKU  Act_Goods_Issue_Qty_SKU
 2675  TEST80803947ZA  ZEPSLBK41616                        1
 2697  TEST85562847ZA  ZKES0AS27293                        1
 3916  TEST88980047ZA   ZSGE0TB2277                        1
 4678  TEST88969047ZA  ZECK5OR51820                        1
 4694  TEST88972347ZA  ZEDLADD17761                        1
 4717  TEST88975047ZA  ZECK5YL35011                        1
 4718  TEST88975047ZA  ZECK5BL48705                        1
 4719  TEST88975047ZA   ZECK5PK9463                        1
 4720  TEST88975047ZA  ZECK5OR51820                        1
 5499  TEST90463047ZA  ZEN900034005                       20
 5513  TEST90462547ZA  ZAV921725959                       18
 5514  TEST90462547ZA  ZEN900034005                       20
 8015  TEST90473547ZA  ZSYCBGY19461                        1
 8108  TEST91378547ZA  ZLA864917563                        1]

In [11]:
order_pool_ui(csv, next_day=True)[6]

         Del_Number           SKU  Act_Goods_Issue_Qty_SKU
0    TEST93904247ZA  ZCSCELS48323                        1
1    TEST93908047ZA  ZSY265034845                        1
2    TEST93908047ZA  ZINMAMA12962                        1
3    TEST93908447ZA  ZRW720124768                        6
4    TEST93908947ZA  ZJBALAM27065                        1
..              ...           ...                      ...
506  TEST93818847ZA  ZJBR0CT17180                        1
507  TEST93818847ZA  ZJBR0A454225                        2
508  TEST93818847ZA  ZSPR4YW12990                        1
509  TEST93818847ZA  ZSPR4BE27505                        1
510  TEST93818847ZA  ZHP94PK14577                        1

[511 rows x 3 columns]